.header{
    display:flex;
    flex-direction:row;
    height:55px;
    justify-content: space-between;
    border-bottom-color:rgb(204, 204, 204);;
    border-bottom-width:1px;
    border-bottom-style:solid;
    margin-bottom:25px;

}
.left{
    display:flex;
    margin-right:55px;
    align-items:center;
}
.right{
    display:flex;
    margin-left:35px;
    align-items:center;
    width:180px;
    justify-content:space-between;
    margin-right:25px;
    flex-shrink:0;
}
.middle{
    display:flex;
    flex:1;
    max-width:500px;
    align-items:center;
}
.search-bar{
    flex:1;
    height:36px;
    padding-left:10px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(204, 204, 204);
    border-radius:2px;
    box-shadow:inset 1px 2px 2px rgba(0,0,0,0.05);
    width:0;
}
.search-bar::placeholder{
    font-family:Roboto, Arial;
    font-size:16px;
}
.search-icon{
    background-color:rgb(248, 248, 248);
    margin-right:10px;
    height:39px;
    width:65px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(204, 204, 204);
    border-radius:2px;
    margin-left:-1px;
    cursor:pointer;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    
}
.voice-icon{
  background-color: rgb(248, 248, 248);
  height:40px;
  width:40px;
  border:none;
  border-radius:20px;
  cursor:pointer;
    
}
.search-button,
.voice-button{
    height:24px;
    margin-top:4px;
}
.dashes{
    height:24px;
    margin-left:24px;
    margin-right:24px;
    cursor:pointer;
}
.logo{
    height:20px;
    cursor:pointer;
}
.upload,
.apps,
.notifications{
    height:24px;
    cursor:pointer;
}
.channel-pic{
    height:35px;
    width:35px;
    object-fit:cover;
    border-radius:18px;
    cursor:pointer;
}
