.grid{
         display:grid;
         grid-template-columns:1fr 1fr 1fr;
         column-gap:20px;
         row-gap:30px;
        }
.video-pic{
        width:100%;
        height:150px;
        object-fit: cover;  
     }
.text-grid{
      display:grid;
      grid-template-columns:50px 1fr;
     }
.pp{
        width:50px;
     }
.profile-pic{
        width:40px;
        height:40px;
        object-fit:cover;
        border-radius:25px;
        margin-top:8px;

     }
     
.title{
        margin-top:8px;
        margin-bottom:0px;
        font-size:14px;
        font-weight:500;
        line-height:20px;
     }
.description,
     .views{
      font-size:12px;
      color:rgb(96,96,96);
     }
.description{
      margin-top:10px;
     }
.views{
        margin-top:4px;
     }